#welcomeContainer {
    display: flex;
    flex-direction: column;
    background-color: #d8d8d8;
    margin: 0 auto;
}

#welcome_awards_join {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#welcome_text {
    font-style: italic;
}

#page_header {
    margin: auto;
    font-style: italic;
    margin-top: 30px;
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#backgroundImage {
    width: 100vw;
    height: 900px;
    margin-left: -30px;
}

#golden_gate_background {
    width: 100vw;
    height: 450px;
    margin-left: 5px;
}

#header_text {
    color: white;
}

.slider-wrapper {
    width: 800px;
}

.companyLogo {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 130px;
    align-self: center;
}

#apaImage {
    display: flex;
    align-self: center;
}

.logoImage {
    width: 180px;
    height: 150px;
    padding: 10px;
}

/*mobile screens */
@media screen and (max-width: 900px) {
    h1 {
        font-size: 1.5rem;
    }

    #backgroundImage {
        height: 200px;
        width: 90vw;
    }

    #page_header {
        position: relative;
        font-style: italic;
        height: 300px;
    }

    #welcome_awards_join {
        margin-top: -30px;
    }

    .logoImage {
        width: 120px;
        height: 130px;
        padding: 10px;
    }

    #gpmiLogoImageHome {
        width: 140px;
    }
}

/*laptop screens */
@media screen and (max-width: 1500px) {
    #backgroundImage {
        margin-left: 0px;
    }
}
