#welcomeContainer{
    display:flex;
    flex-direction: column;
    min-height: 1500px;
    background-color: #D8D8D8;
}

#welcome_awards_join{
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

#welcome_text{
    font-style: italic;
}

#page_header{
    margin:auto;
    font-style: italic;
    margin-top: 30px;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#golden_gate_background{
    width: 100vw;
    height: 580px;
  }

#header_text{
    color:white;
}

.slider-wrapper {
    width: 800px;
}


