
#cpp_image{
    width:80px;
    height:80px;
    align-self: center;
}

#fpc_image{
    width:80px;
    height:80px;
    align-self: center;
}

.resourceBody{
    align-self: center;
}
