/* #navbarList{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
} */

#navBar{
    background-color: #f7f7f7;
}


#mobileBar{
    visibility: hidden;
}
ul li{
    align-self: center;
    width: 150px;
}

#imageLogo{
    width: 180px;
    height: 100px;
}

@media screen and (max-width: 520px){
    #mobile_navbar{
        display:flex;
        justify-content: space-between;
        visibility: visible;
        width:100vw;
    }

    #navBar{
        visibility: hidden;
    }

    #mobile_banner{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
      #banner_logo_mobile{
        width: 60%;
        align-self: flex-end;
    }

}
