#event_container{
    display:flex;
    flex-direction: column;
    align-content: center;
    margin-top: 60px;
    background-color: #D8D8D8;
}

.align_center{
    align-self: center;
}

.section_header{
    text-decoration: underline;
    font-style: italic;
    text-align: center;
}

#events_image{
    width: 850px;
    height: 380px;
}

#event_header{
    align-self: center;
}

.eventPosts{
    display:flex;
    flex-direction: column; 
    justify-content: space-between;
}
