.corporate_type{
    display:flex;
    flex-direction: row;
    align-self: center;
  }
  
  #silver{
    width:30px;
    height:30px;
    background-color: silver;
  }
  
  #gold{
    width:30px;
    height:30px;
    background-color: gold;
  }
  
  #platinum{
    width:30px;
    height:30px;
    background-color: #E5E4E2;
    margin-left: 80px;
  }

  #corporateContainer{
      display:flex;
      flex-direction: column;
      align-self: center;
  }

  .header{
      font-weight: bold;
  }

  .corporateCard{
      width: 650px;
      align-self: center;
      font-weight: bold;
  }

  #silverCard *{
    color: silver;
  }

  #goldCard *{
    color: gold;
  }

  #platinumCard *{
    color: #E5E4E2;
  }
