#ending{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #252525;
    width: 100vw;
    height: 150px;
}

#ending_content{
    align-self: center;
    color: white;
}

#apa_link{
  color: inherit;
  text-decoration: none;
}

.footerLink{
  padding: 5px;
  color: inherit;
  text-decoration: none;
}
