.memberImage {
    width: 210px;
    height: 200px;
    align-self: center;
    border-radius: 100px;
}

.memberCard {
    width: 400px;
    height: 410px;
    display: flex;
}

@media screen and (max-width: 600px) {
    .memberCard {
        width: 350px;
        height: 410px;
    }
}
