#open_positions{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    font-style: italic;
    height: 450px;
    overflow: auto;
    width: 100%;
}

#postingsList{
    display: flex;
    flex-direction: column;
}

ul li{
    width: 100%;
    align-self: flex-start;
}

