#editCareersContainer{
    align-self: center;
    height: 500px;
    overflow: auto;
    width: 50%;
    padding: 10px;
}

.tabItem{
    width: 30%;
}

.viewPostingsButtons{
    margin-top: 5px;
}

.postingsButton{
    margin-right: 5px;
}