#awards{
    min-height: 110px;
    display:flex;
    flex-direction: row;  
    align-self:center;
    justify-content: space-around;    
}

.award_image{
    padding: 5px;
    width:100px;
    height: 100px;
}

.bannerImage{
  width: 290px;
  height: 100px;
  padding: 5px;
}

#thirdPlaceBanner{
  width: 300px;
}

#awardsCard{
  align-self: center;
}

#apaImageEvent{
  width: 95%;
}

.awardsBody{
  align-self: center;
}

#npwContainer{
  margin: 10px;
  padding-right: 5px;
}

@media screen and (max-width: 600px){
    .award_image{
        width: 40px;
        height:40px;
    }

    .bannerImage{
      width: 100px;
      height: 50px;
    }
    
    #thirdPlaceBanner{
      width: 105px;
    }
    
    #awardsGrid{
      width: 100%;
    }
}


