#awards{
    min-height: 110px;
    display:flex;
    flex-direction: row;  
    align-self:center;
    justify-content: space-around;    
}

.award_image{
    padding: 5px;
    width:100px;
    height: 100px;
}

#awardsCard{
  align-self: center;
}

#APALogoImage{
  align-self: center;
}

.awardsBody{
  align-self: center;
}

#clif{
  width:120px;
  height: 70px;
}

#iipay{
  width:140px;
  height: 60px;
}

@media screen and (max-width: 600px){
    .award_image{
        width: 40px;
        height:40px;
    }
    
    #awardsGrid{
      width: 100%;
    }
}


