#gallerySlidesContainer {
    padding: 5px;
}

.startSlideButton {
    margin-bottom: 5px;
}

.viewSlideshow {
    text-decoration: underline;
}

.gallerySlideImage {
    width: 100%;
    height: 100%;
}
