.about_section{
    display:flex;
    flex-direction: column;
    align-self: center;
}
#study_group{
    display:flex;
    flex-direction: column;
    align-self: center;
}

.section_image{
    width: 200px;
    height:100px;
    align-self: center;
}

#studyBlockInfo{
    width: 600px;
    align-self: center;
}

#study_more_info{
    align-self: center;
}

  

