body{
    padding-top: 65px;
    font-family: 'Montserat', sans-serif;
    /* font-family: 'Times New Roman', Times, serif'; */
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#header_text{
  color: white;
}

#entire_container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  margin-top: -20px;
}

#payroll_navbar{
  height: 80px;
}

.navbar-light .navbar-nav .nav-link{
  color: black;
  font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: blue;
}

#banner_logo{
  width: 80%;
  cursor: pointer;
}

#welcome_container{
  display:flex;
  flex-direction: column;
  min-height: 1500px;
  /* background-image: url("../photos/golden_gate_bridge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover; */
  /* background-color: #E2DDDC; */
}

#golden_gate_background{
  width: 100vw;
  height: 500px;
}

#page_header{
  margin:auto;
  font-style: italic;
  margin-top: 30px;
}

#myCarousel{
  /* margin-top: 10px; */
  padding: 10px;
}

.slide_image{
	height: 460px;
  width: 950px;
  display:block;
	margin-left:auto;
	margin-right:auto;
}

#welcome_awards_join{
  margin-top: 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

#welcome_text_div{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  font-style: italic;
  font-size: 20px;
  padding: 5px;
}

#welcome_text{
  font-style: italic;
}

#awards{
  min-height: 110px;
  display:flex;
  flex-direction: row;  
  align-self:center;
  justify-content: space-around;

}

.award_image{
  padding: 5px;
  width:110px;
  height: 100%;
}

#sponsors{
  display:flex;
  flex-direction: column;
}

#join{
  margin-top: 50px;
  display:flex;
  flex-direction: column;
  align-self: center;  

}

#join_button{
  width: 200px;
  border-radius: 0px;
  cursor: pointer;
}

#join_link{
  padding: 5px;
}

#events_container{
  min-height: 1500px;
  display:flex;
  flex-direction: column;
  background-color: #D4D4D4;
}

#events{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-evenly;
  /* border: solid 1px black; */
}

.event_info{
  display:flex;
  flex-direction: column;
}

.section_header{
  text-decoration: underline;
  font-style: italic;
  text-align: center;
}
#event_header{
  align-self: center;
}

#time_date{
  align-self: center;
  font-weight: bold;
  font-size: 25px;
}

/*about us section */ 
#about_us_container{
  min-height: 3500px;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: lightskyblue; */
}

#about_us_header{
  align-self: center;
}

#about_us_part1{
  display:flex;
  flex-direction: column;
  align-self: center;
  min-height: 500px;
  margin-top: -50px;
}

#about_us_part1_blockquote{
  padding:5px;
}

.section_image{
  width: 200px;
  height:100px;
  align-self: center;
}

#about_us_1{
  display:flex;
  align-self: center;
  width: 700px;
  height: 380px;
}

.blockquote_caption{
  width: 800px;
}

.toggle_info{
  cursor: pointer;
  color: blue;
}

.about_section{
  display:flex;
  flex-direction: column;
  align-self: center;
}


.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display:flex;
    flex-direction: column;
    z-index: 100;
    background-color: lightgray;
    visibility: visible;
}

#sponsor_logos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:50%;  
  align-self: center;
}

.sponsor_images{
  width: 80px;
  height: 45px;
}

#officers_container{
  min-height: 1000px;
  width: 100%;

}

#officers_content{
  margin: auto;
  min-height: 900px;
  width: 90%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.officer_info{
  align-self: center;
  border: ridge 1px black;
  padding: 5px;
  width: 400px;
  height: 300px;
}

.officer_image{
  width: 100px;
  height: 100px;
  align-self: center;
}

#president{
  margin: auto;
}

#membership_container{
  min-height: 1300px;
  background-color: lightgray;
}

#membership_fees{
  margin-top: 50px;
  display:flex;
  flex-direction: column;
}

#benefits{
  margin: auto;
  width: 40%;
}

.corporate_type{
  display:flex;
  flex-direction: row;
  align-self: center;
}

#silver{
  width:30px;
  height:30px;
  background-color: silver;
}

#gold{
  width:30px;
  height:30px;
  background-color: gold;
}

#platinum{
  width:30px;
  height:30px;
  background-color: #E5E4E2;
  margin-left: 80px;
}

ul{
  font-size: 20px;
  font-style: italic;
}

#resources_container{
  min-height: 1000px;
  background-color: #DEE0DE;
}

#study_group_resources{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#cpp_image{
  width:80px;
  height:80px;
  align-self: center;
}

#fpc_image{
  width:80px;
  height:80px;
  align-self: center;
}

#cpp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#fpc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.learning_resources{
  display:flex;
  flex-direction: column;
  font-style: italic;
  text-align: center;
}

#learning_resources_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#careers_container{
  min-height: 1600px;
  background-color: lightgrey;
}

#open_positions{
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;

}

#help_sites{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.underline_header{
  text-decoration: underline;
}

#accountants_international{
  width: 40%;
  margin: auto;
}

#job_form{
  display:flex;
  flex-direction: column;
  align-self: center;
}

#job_form_input{
  width: 40%;
  align-self: center;
  margin: auto;
  padding: 5px;
}

#submit_container{
  display: flex;
  flex-direction: column;
}

#submit_button{
  width: 200px;
  border-radius: 0px;
  cursor: pointer;
  align-self: center;
}

#contact_us_container{
  min-height: 1000px;
  display :flex;
  flex-direction: column;
}

#contact_info{
  align-self: center;
  font-weight: bold;

}

.follow_us_container{
  display:flex;
  flex-direction: row;
  
}

.follow_image{
  width: 50px;
  height: 50px;
  margin-top: -10px;
}

#facebook_logo{
  width: 40px;
  height: 40px;

}

#hear_from_container{
  display: flex;
  flex-direction: column;
  width: 60%;
  align-self: center;
}

#membership_photo{
  width: 550px;
  height: 300px;
  align-self: center;
}

#career_header{
  display:flex;
  flex-direction: column; 
}

#career_image{
  width: 500px;
  height: 300px;
  align-self: center;
}

