
/*
fixes navbar blocking contents of top page
*/

body{
    padding-top: 100px;
    font-family: 'Montserat', sans-serif;
    /* font-family: 'Times New Roman', Times, serif'; */
}

#entire_container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  margin-top: -20px;
}

#payroll_navbar{
  height: 80px;
}

.navbar-light .navbar-nav .nav-link{
  color: black;
  font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: blue;
}

#welcome_container{
  display:flex;
  flex-direction: column;
  min-height: 850px;
  background-color: #E2DDDC;
}

#page_header{
  margin:auto;
  font-style: italic;
  margin-top: 30px;
}

#myCarousel{
  margin-top: 10px;
  padding: 10px;
}

.slide_image{
	height: 400px;
  width: 950px;
  display:block;
	margin-left:auto;
	margin-right:auto;
}

#welcome_awards_join{
  margin-top: 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;

}

#welcome_text_div{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  font-style: italic;
  font-size: 20px;
  padding: 5px;
}

#welcome_text{
  font-style: italic;
}

#awards{
  min-height: 110px;
  display:flex;
  flex-direction: row;  
  align-self:center;
  justify-content: space-around;

}

.award_image{
  padding: 5px;
  width:110px;
  height: 100%;
}

#join{
  margin-top: 50px;
  display:flex;
  flex-direction: column;
  align-self: center;

  
}



#join_button{
  width: 200px;
  border-radius: 0px;
  cursor: pointer;
}

#events_container{
  min-height: 500px;
  display:flex;
  flex-direction: column;
  background-color: #83A0DE;
}

.section_header{
  text-decoration: underline;
}
#event_header{
  align-self: center;
}

#time_date{
  align-self: center;
  font-weight: bold;
  font-size: 25px;
}

#about_us_container{
  min-height: 2000px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: #898989; */

}

#about_us_header{
  align-self: center;

}

#about_us_part1{

  display:flex;
  flex-direction: column;
  align-self: center;
  min-height: 500px;
  margin-top: -50px;
}

#about_us_part1_blockquote{
  padding:5px;
}

.section_image{
  width: 200px;
  height:100px;
  align-self: center;
}

#about_us_1{
  display:flex;
  align-self: center;
  width: 700px;
  height: 380px;
}

.blockquote_caption{
  width: 800px;
}

.toggle_info{
  cursor: pointer;
  color: blue;
}

.about_section{
  display:flex;
  flex-direction: column;
  align-self: center;
}


.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display:flex;
    flex-direction: column;
    z-index: 100;
    background-color: #B7BFF2;
}

#sponsor_logos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:50%;  
  align-self: center;
}

.sponsor_images{
  width: 80px;
  height: 60px;
}







/* #body_div{
  width:100%;
}

#banner_logo{
  display:block;
  width: 150px;
}

.nav-item{
  margin-left: 60px;
}

.navbar-light .navbar-nav .nav-link{
  color: black;
  font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: blue;
}

.main-text {
  position: absolute;
  top: 50px;
  width: 96.66666666666666%;
  color: white;
}

.section_title{
  font-style: italic;
}

/*
#Home{
    background-repeat: no-repeat;
    background-image: url("https://wwwassets.rand.org/content/rand/about/locations/san-francisco/office/_jcr_content/par/herotitle.aspectfit.0x0.jpg/x1495302287458.jpg.pagespeed.ic.-3A48iDzR2.jpg"); 
    background-color: #E6E6FA;
}





.slide_image{
	height: 430px;
  width: 100%;
  display:block;
	margin-left:auto;
	margin-right:auto;
}

#home_caption{

  margin: auto;
  margin-top: 25px;
  width: 600px;
  color: blue;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

#awards{
  display:flex;
  margin-top: 10px;
  justify-content: space-around;
}

.award_image{
  margin-left: 20px;
}

#join_div{
  margin-top: 10px;
  display:flex;
  flex-direction: column;
}

#join_link:link{
    color:white;
}

#join_link:visited{
    color:white;
}

#join_button{
    display:block;
    margin-left:auto;
    margin-right:auto;
    cursor: pointer;
    width: 150px;
    background-color: #0E86FF;
}

#events_div{
  margin-top: 10px;
  padding: 1%;
}

#about_us{
 display:flex;
 flex-direction: column;
}

#about_us_caption{
 
}


#about_us_title{
  font-style: italic;
}
  
#about_image{
  width:50%;
  height:550px;
}


#SFBAC_caption{
  width:80%; 
  margin-top: 10px;
  word-wrap:break-word;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  text-align: justify;

  padding: 1%;
  margin: auto;
}

.more_info{
  font-style: italic;
}

#three_section_container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.about_section{
  padding: 2%;
}
.section_content{
  flex:1;
  display:flex;
  flex-direction: column;
  align-content: center;   
}

.section_caption{
  width: 80%;
  text-align: justify;
  margin: auto;
  word-wrap:break-word;
}

#APA_caption{
  width: 80%;
  margin: auto;
  text-align: justify;

}


static footer for logos


.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 80px;
   text-align: center;
   background-color: #86B2E6;
   visibility: hidden;
  
}

#sponsor_logos{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.logo{
  width: 100%;
}

#america_works{
  height: 70px;
  width: 80px;
}

*/

/* .page_part{
    border: solid black 1px;
} */ 
